# packaging libraries
wheel
hatchling

# core dependencies
dynaconf
pyspark
ipython

# testing + development dependencies
tox >= 4.21
tox-pyenv-redux
pytest
pytest-asyncio
pytest-cov
ipdb

# linting + formatting
ruff
